@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 30% 97%;
    --foreground: 30 8% 10%;
    --card: 0 0% 100%;
    --card-foreground: 30 8% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 30 8% 10%;
    --primary: 18 92% 50%;
    --primary-foreground: 30 69% 6%;
    --secondary: 40 20% 93%;
    --secondary-foreground: 30 8% 10%;
    --muted: 40 20% 93%;
    --muted-foreground: 39 6% 42%;
    --accent: 24 100% 93%;
    --accent-foreground: 18 92% 40%;
    --destructive: 7 77% 52%;
    --border: 36 12% 88%;
    --input: 36 12% 88%;
    --ring: 18 92% 50%;
    --radius: 0.875rem;
    --chart-1: 7 77% 60%;
    --chart-2: 37 86% 59%;
    --chart-3: 111 45% 61%;
    --chart-4: 208 73% 64%;
    --chart-5: 272 58% 71%;
  }

  .dark:root {
    --background: 40 8% 7%;
    --foreground: 40 20% 91%;
    --card: 30 8% 10%;
    --card-foreground: 40 20% 91%;
    --popover: 30 8% 10%;
    --popover-foreground: 40 20% 91%;
    --primary: 18 100% 59%;
    --primary-foreground: 30 69% 6%;
    --secondary: 36 10% 12%;
    --secondary-foreground: 40 20% 91%;
    --muted: 36 10% 12%;
    --muted-foreground: 39 8% 61%;
    --accent: 22 65% 10%;
    --accent-foreground: 19 100% 67%;
    --destructive: 7 77% 60%;
    --border: 34 9% 15%;
    --input: 34 9% 15%;
    --ring: 18 100% 59%;
    --chart-1: 7 77% 60%;
    --chart-2: 37 86% 59%;
    --chart-3: 111 45% 61%;
    --chart-4: 208 73% 64%;
    --chart-5: 272 58% 71%;
  }
}
